<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="#f4a261"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./favicon.png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta
            name="description"
            content="Platform pencarian restoran yang membantu Anda menemukan tempat makan favorit. Dari rekomendasi hingga ulasan, semua ada di sini">
    <title>Restaurant Apps</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<a href="#mainContent" class="skip-link">Menuju ke konten</a>
<header class="header">
    <nav class="nav">
        <nav class="nav__inner">
            <a href="/" class="logo">Temu Rasa</a>
            <button id="menu" class="header__menu">
                <i class="fa fa-bars"></i>
            </button>
        </nav>
        <ul id="drawer" class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#/favorite">Favorite</a></li>
            <li class="nav__item">
                <a href="https://id.linkedin.com/in/fakhrylinux" target="_blank" rel="noopener noreferrer">
                    About Us
                </a>
            </li>
        </ul>
    </nav>
</header>
<div class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Jelajah Kuliner Favorit Anda</h1>
        <p class="hero__tagline">
            Dari Rekomendasi hingga Reservasi, Semua Ada di Sini
        </p>
    </div>
</div>
<main id="mainContent"></main>
<footer class="footer">Copyright &#169; 2024, Temu Rasa</footer>
</body>
</html>
