<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant Apps</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<a href="#maincontent" class="skip-link">Menuju ke konten</a>
<header class="header">
    <nav class="nav">
        <nav class="nav__inner">
            <a href="/" class="logo">Temu Rasa</a>
            <button id="menu" class="header__menu">
                <i class="fa fa-bars"></i>
            </button>
        </nav>
        <ul id="drawer" class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#">Favorite</a></li>
            <li class="nav__item"><a href="https://id.linkedin.com/in/fakhrylinux" target="_blank">About Us</a></li>
        </ul>
    </nav>
</header>
<div class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Jelajah Kuliner Favorit Anda</h1>
        <p class="hero__tagline">
            Dari Rekomendasi hingga Reservasi, Semua Ada di Sini
        </p>
    </div>
</div>
<main id="maincontent">
    <form class="input-bar">
        <label for="search-input"></label>
        <input id="search-input" type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div id="items" class="items">
        <div class="card">
            <div class="card__image">
                <img src="https://restaurant-api.dicoding.dev/images/medium/41" alt="Bring Your Phone Cafe Photo">
            </div>
            <h2>Bring Your Phone Cafe</h2>
            <i class="fa fa-star"></i><span>4.6</span>
            <p class="location">Medan</p>
            <p class="card__description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa.
            </p>
            <button>Reserve</button>
        </div>

        <div class="card">
            <div class="card__image">
                <img src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Run The Gun Photo">
            </div>
            <h2>Run The Gun</h2>
            <i class="fa fa-star"></i><span>4.6</span>
            <p class="location">Bali</p>
            <p class="card__description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa.
            </p>
            <button>Reserve</button>
        </div>

        <div class="card">
            <div class="card__image">
                <img src="https://restaurant-api.dicoding.dev/images/medium/29" alt="Pangsit Express Photo">
            </div>
            <h2>Pangsit Express</h2>
            <i class="fa fa-star"></i><span>4.8</span>
            <p class="location">Ternate</p>
            <p class="card__description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa.
            </p>
            <button>Reserve</button>
        </div>

        <div class="card">
            <div class="card__image">
                <img src="https://restaurant-api.dicoding.dev/images/medium/38" alt="Ducky Duck Photo">
            </div>
            <h2>Ducky Duck</h2>
            <i class="fa fa-star"></i><span>3.8</span>
            <p class="location">Malang</p>
            <p class="card__description">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                and I will give you a complete account of the system
            </p>
            <button>Reserve</button>
        </div>

        <div class="card">
            <div class="card__image">
                <img src="https://restaurant-api.dicoding.dev/images/medium/08" alt="Makan Mudah Photo">
            </div>
            <h2>Makan Mudah</h2>
            <i class="fa fa-star"></i><span>4.6</span>
            <p class="location">Malang</p>
            <p class="card__description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa.
            </p>
            <button>Reserve</button>
        </div>

        <div class="card">
            <div class="card__image">
                <img src="https://restaurant-api.dicoding.dev/images/medium/32" alt="Saya Suka Photo">
            </div>
            <h2>Saya Suka</h2>
            <i class="fa fa-star"></i><span>3.6</span>
            <p class="location">Surabaya</p>
            <p class="card__description">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                and I will give you a complete account of the system
            </p>
            <button>Reserve</button>
        </div>

        <div class="card">
            <div class="card__image">
                <img src="https://restaurant-api.dicoding.dev/images/medium/45" alt="Gigitan Cepat Photo">
            </div>
            <h2>Gigitan Cepat</h2>
            <i class="fa fa-star"></i><span>4</span>
            <p class="location">Aceh</p>
            <p class="card__description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa.
            </p>
            <button>Reserve</button>
        </div>

        <div class="card">
            <div class="card__image">
                <img src="https://restaurant-api.dicoding.dev/images/medium/04" alt="Fairy Cafe Photo">
            </div>
            <h2>Fairy Cafe</h2>
            <i class="fa fa-star"></i><span>3.9</span>
            <p class="location">Malang</p>
            <p class="card__description">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                and I will give you a complete account of the system
            </p>
            <button>Reserve</button>
        </div>

        <div class="card">
            <div class="card__image">
                <img src="https://restaurant-api.dicoding.dev/images/medium/32" alt="Saya Suka Photo">
            </div>
            <h2>Saya Suka</h2>
            <i class="fa fa-star"></i><span>3.6</span>
            <p class="location">Surabaya</p>
            <p class="card__description">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                and I will give you a complete account of the system
            </p>
            <button>Reserve</button>
        </div>
    </div>
</main>
<footer class="footer">Copyright &#169; 2024, Temu Rasa</footer>
</body>
</html>
